{% from "_includes/forms" import textField %}

<div style="border:1px solid #8b8b8b; padding:10px; background: #efefef;white-space:pre-line">{{"plugin-info"|t('internal-assets')}}</div>

{{ textField({
    label: "File System Path"|t('app'),
    instructions: "file-path-info"|t('internal-assets', {
        ex1: '“`/path/to/folder`”',
    }),
    id: 'path',
    class: 'ltr',
    name: 'path',
    value: volume.path,
    errors: volume.getErrors('path'),
    required: true,
    placeholder: "/path/to/folder"
}) }}